<?xml version="1.0"?>

<launch>

    <arg name="models" default="$(find wire_core)/models/world_object_models.xml" />

    <!--<env name="ROSCONSOLE_CONFIG_FILE" value="$(find wire_core)/launch/custom_rosconsole.conf"/>-->
     
    <node pkg="wire_core" type="wire_server" respawn="false" name="wire_server" output="screen" >
    <!--<node pkg="wire_core" type="wire_server" respawn="false" name="wire_server" output="screen"  launch-prefix="gdb -_-args" >-->
     <!--<node pkg="wire_core" type="wire_server" respawn="false" name="wire_server" output="screen" launch-prefix="valgrind -_-tool=callgrind -_-callgrind-out-file='callgrind.testWireOriginal.%p' " >-->
        <rosparam file="$(find wire_core)/parameters/world_model.yaml" command="load" ns=""/>
        <param name="knowledge_filename" value="$(arg models)"/>   
    </node>

</launch>
